<div class="row character-holder" ng-repeat="character in characters.stats">
    <div class="base-stats col-xs-3">
        <img ng-src="{{character.photo}}" /><br />
        <h2>Name: {{ character.name }}</h2>
        <h3>Class: {{ character.class }}</h3>
        <p>
            Alignment: {{ character.alignment }}
        </p>
    </div>
    <div class="equipment col-xs-3">
        <ul>
            <li ng-repeat="equip in character.equipment">
                <img ng-src="{{equip.photo}}" width="50px" /><br />
                <b>{{equip.object}}</b>
            </li>
        </ul>
    </div>
    <div class="stats col-xs-3">
        <ul>
            <li>
                <b>STR:</b> {{character.statsStr}}
            </li>
            <li>
                <b>CON:</b> {{character.statsCon}}
            </li>
            <li>
                <b>DEX:</b> {{character.statsDex}}
            </li>
            <li>
                <b>INT:</b> {{character.statsInt}}
            </li>
            <li>
                <b>WIS:</b> {{character.statsWis}}
            </li>
            <li>
                <b>CHA:</b> {{character.statsCha}}
            </li>
        </ul>

    </div>
    <div class="skills col-xs-3">
        <ul>
            <li ng-repeat="skill in character.skills">
                {{skill}}
            </li>
        </ul>
    </div>
</div>
