@font-face {
  font-family: 'Atrox';
  src: url('../fonts/ATROX.TTF');
}

/* =======================================
    style.css
    use this file for your custom styles
========================================== */

/* use a box model that makes sense */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* set the default color, font-size, and line height */
html {
  color: #333;
  font-size: 1em;
  line-height: 1.4;
}

.wrap {
  margin: 0 auto;
  max-width: 1200px; /* change this width to make a wider page!*/
  padding: 0 1em; /* 1em of padding on the left and right side */
}

/* make images and embedded media fluid */
img,
object {
  max-width: 100%;
}

/* type hierarchy- change for your project */
h1 {
  font-size: 3em; /* 48px */
}

h2 {
  font-size: 2.25em /* 36px */
}

h3 {
  font-size: 1.75em /* 28px */
}

h4 {
  font-size: 1.125em /*18px */
}

/* navigation list styles */
.navigation {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* =======================================
    author styles
    place your custom styles below here
========================================== */
html {
  background-color:#111;
  color:#eee;
}
h1 a {
  color: #fff;
  text-decoration:none;
}
h1 a:hover {
  color: #EC1B30;
}
a.anchor {
    position: relative;
    top: -75px;
    display: block;
}
header h1 {
  font-family: Ubuntu;
  font-weight:700;
  margin: 0.1em 0;
}
ul.navigation li a {
    color: #fff;
    line-height: 3em;
    padding: .5em 1em;
    margin: .5em 1em;
    display: inline-block;
}
ul.navigation.subnav li a {
    color: #fff;
    line-height: 1.5em;
    padding: .15em 1em;
    margin: .15em 1em;
    display: inline-block;
    position:relative;
}
main {
    margin-top:100px;
}
.image-head {
  background-image: url("../img/motherboard.JPG");
  background-size: cover;
  background-position: center center;
  background-color:#111;
  height:300px;
  width:100%;
  display:block;
}
.image-head .text-div {
  position: relative;
  bottom:0;
  background-color: rgba(255,255,255,0.5);
  padding: 15px 30px 5px;
  display:inline-block;
}
.image-head .z97x {
  font-family: Atrox;
  font-size: 4em;
  line-height:1em;
}
.secondary {
  position:fixed;
  top:80px;
  padding-right:15px;
  right: 0;
  background-color:#EC1B30;
}
.slant {
  display:inline;
}
.triangle {
  background-color:#EC1B30;
  width: 40px;
height: 40px;
transform: rotate(45deg);
display: inline-block;
position: absolute;
left: -20px;
top: -15px;
  z-index:1;
}
.menu-wrap .wrap {
    z-index: 5;
    position: fixed;
    background-color: #000;
    width: 100%;
    max-width: 100%;
    border-bottom: 5px solid #EC1B30;
}
.image-head .z97x span {
  color:#EC1B30;
}
.menu-wrap {
  display:block;
  background-color:#111;
  color: #fff;
  position:fixed;
  width:100%;
  top: 0;
  z-index: 5;
  border-bottom: 5px #EC1B30 solid;
}
.menu-wrap nav {
  float:right;
}
.menu-wrap header {
  float:left;
}
ul.navigation li {
  display:inline-block;
}
ul.navigation li a {
  color: #fff;
}
h2 span {
  background-color: #EC1B30;
  color:#eee;
  display:inline-block;
  padding-left: 10px;
  padding-right: 10px;
  z-index:3;
  position:relative;
}
h2 span.tri {
  background-color:#EC1B30;
  width: 70px;
height: 70px;
transform: rotate(45deg) translateX(-32px) translateY(17px);
display: inline-block;
position: absolute;
margin-right: 0px;
top: -25px;
  z-index:-2;
}
h2 span.rect {
  background-color:#111;
  z-index:-1;
  display:inline-block;
  position:absolute;
  width: 100px;
  height: 50px;
  margin-left: -50px;
  margin-top: -55px;
}
h2 {
  border-right: transparent;
  border-top: 5px solid #EC1B20;
  display:block;
  position:relative;
}
.gallery-row .gallery-blk {
  width:24%;
  display:inline-block;
}
.gallery-row.half .gallery-blk {
  width:49%;
  display:inline-block;
}
.gallery-blk img {
  height:175px;
  width:100%;
}









.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */


/* =======================================
    Layout
    keep this at the bottom
========================================== */

@media (min-width: 620px) {
  .column {
    float: left;
    padding-left: 1em;
    padding-right: 1em;
  }

  .column.full {
    width: 100%;
  }

  .column.two-thirds {
    width: 66.7%;
  }

  .column.half {
    width: 50%;
  }

  .column.third {
    width: 33.3%;
  }

  .column.fourth {
    width: 25%;
  }

  .column.flow-opposite {
    float: right;
  }
}


/* row used as a clearfix to clear floats */
.row:before,
.row:after {
  content: " ";
  display: table;
}

.row:after {
  clear: both;
}

.row {
  *zoom: 1;
}
