@font-face {
    font-family: Deutsch;
    src: url(Deutsch.ttf);
}
@font-face {
    font-family: ComicZine;
    src: url(comic_zine_ot.otf);
}
.lovecraft .quote p {
  font-family: Deutsch, sans-serif;
  font-size:3.5em;
  line-height:1.25em;
}
.lovecraft .quote p span {
  color:#A30000;
}
.lovecraft .quote p.credit {
  font-family: 'Archivo Black', sans-serif;
  font-size: 1.5em;
  line-height: 1.25em;
  text-align:right;
  letter-spacing:1px;
  padding-top:50px;
}
.lovecraft.quote-block {
  background-color:#000;
}
.lovecraft .quote-wrapper {
  max-width:1000px;
  margin:0 auto;
  padding: 100px 0;
  color:#eee;
}
.smith.quote-block {
  background-color: #A3DAFB;
  overflow:hidden;
}
.smith .quote-wrapper {
  max-width: 950px;
  padding: 100px 50px;
  position:relative;
  z-index:5;
}
.smith .quote p {
  font-family: 'ComicZine', cursive;
  font-size: 2.5em;
  line-height: 1.25em;
  letter-spacing:1px;
  color: #333;
}
.smith .quote {
  background-color: #fff;
  border: 10px solid #77C7F7;
padding: 0px 20px 15px;
}
.smith .credit {
  background-color: #77C7F7;
  display:block;
  padding: 5px 20px;
  margin-top:-20px;
}
.smith .credit p {
  font-family: 'Lora', sans-serif;
  font-size: 1.25em;
  line-height:1.25em;
}
.smith .decorative {
  font-family: 'Lora', sans-serif;
  font-size:28em;
  position:absolute;
  right:0.25em;
  z-index:1;
  transform:rotate(6deg);
  top: -0.25em;
  color:#B5E2FC;
}
