@font-face {
    font-family: ComicZine;
    src: url(comic_zine_ot.otf);
}
html {
  background-color: #A3DAFB;
}
.smith.quote-block {
  overflow:hidden;
  max-width:1275px;
  margin:10% auto 0;
}
.smith .quote-wrapper {
  max-width: 950px;
  padding: 100px 50px;
  position:relative;
  z-index:5;
}
.smith .quote p {
  font-family: 'ComicZine', cursive;
  font-size: 2.5em;
  line-height: 1.25em;
  letter-spacing:1px;
  color: #333;
}
.smith .quote {
  background-color: #fff;
  border: 10px solid #77C7F7;
padding: 0px 20px 15px;
}
.smith .credit {
  background-color: #77C7F7;
  display:block;
  padding: 5px 20px;
  margin-top:-20px;
}
.smith .credit p {
  font-family: 'Lora', sans-serif;
  font-size: 1.25em;
  line-height:1.25em;
}
.smith .credit p a {
  color: #0567A1;
  text-decoration:none;
}
.smith .credit p a:hover {
  color: #024064;
  text-decoration:underline;
}
.smith .decorative {
  font-family: 'Lora', sans-serif;
  font-size:28em;
  position:relative;
  right:0.10em;
  z-index:1;
  transform:rotate(6deg);
  top: -0.25em;
  color:#B5E2FC;
  float:right;
}
@media screen and (max-width:1015px) {
  .smith .quote-wrapper {
    max-width: 950px;
    padding: 50px 50px;
  }
  .smith .decorative {
    right: initial;
    font-size: 45em;
    z-index: 1;
    top: initial;
    float: none;
    margin: -0.25em auto;
    display: inline-block;
    text-align: center;
    width: 100%;
  }
  .smith.quote-block {
    margin: 5% auto 0;
  }
  .smith .quote {
    padding: 0 50px 15px;
  }
  .smith .quote p {
    font-size:6.5em;
    margin: 0.25em 0;
  }
  .smith .credit {
    padding: 5px 30px;
  }
  .smith .credit p {
    font-size: 2.75em;
  }
}
