html {
    background-color:#000;
}
.content-wrap {
        max-width:1000px;
        margin: 0 auto;
}
.header {
    background-color:#111;
    padding: 0px 50px;
    max-width:1000px;
    margin:0 auto;
    font-size:2.5em;
}
.header img {
    float:left;
    padding-right:15px;
}
.intro {
    padding: 10px 50px;
    color:#111;
    background-color:#FEE900;
    font-family: 'Raleway', sans-serif;
    margin-top:-10px;
}
.intro:after, .personnel:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
}
.intro .content-wrap {
    font-size: 1.5em;
    vertical-align: middle;
}
.header h1 {
    color:#eee;
    /*text-transform:uppercase;*/
    font-family: 'Special Elite', cursive;
    letter-spacing:2px;
}
.album-info a {
    text-decoration:none;
    background-color:#FEE900;
    color:#000;
}
.album-info a:hover {
    background-color:#C5B400;
}
.album-info h2 {
    color:#FEE900;
    background-color:#000;
    display:inline-block;
    font-size:3em;
    font-family: 'Special Elite', cursive;
    padding: .25em .2em 0;
    transform:rotate(-4deg);
    line-height:1.25em;

}
.album-info {
        background-color:#fff;
    font-family: 'Raleway', sans-serif;
    padding: 0 0 .25em;
}
.album-info p {
    margin-top:-.25em;
    font-size:1em;
    line-height:1.25em;
}
.tracks {
    padding-bottom:20px;
}
h3 {
    font-size:2.5em;
    padding: .25em .2em .1em;
    line-height: 1.25em;
    display:inline-block;
    font-family: 'Special Elite', cursive;
    transform: rotate(-4deg);
}
.tracks h3 {
    color:#000;
    background-color:#FEE900;
}
.tracks table {
background-color:#FEE900;
color:#000;
width:500px;
float:right;
margin-top:50px;
}
.tracks table thead {
    background-color:#FEE900;
    border-color:#FEE900;
    font-family:Helvetica;
    font-size:18px;
}
.tracks table tbody {
    background-color:#fff;
}
.tracks table tbody td {
    padding: .25em;
    font-family:Helvetica;
    font-size:1em;
}
.personnel {
    background-color:#fff;
}
.personnel h3 {
    color:#FEE900;
    background-color:#000;
    float:left;
    margin-bottom:.1em;
}
.personnel .content-wrap li {
    font-size: 1em;
}
.left h4, .right h4 {
    font-family:Arial;
    font-size: 1.1em;
    margin-bottom: -.75em;
}
.left, .right {
    font-family:Helvetica;
}
.left {
    display:inline-block;
    float:left;
    width:35%;
    margin-left:5%;
}
.right {
    display: inline-block;
    float:right;
    width:35%;
}
.footer {
    background-color:#000;
    padding: 10px 0;
}
.footer .content-wrap {
    color:#fff;
}
.footer a {
    text-decoration:none;
    color:#FEE900;
}
.footer a:hover {
    color:#C5B400;
}
@media screen and (max-width:1050px) {
    .tracks table {
        background-color: #FEE900;
        color: #000;
        width: 500px;
        float: none;
        margin: 0 auto .75em
    }
    .content-wrap {
        margin: 0 20px;
    }
}
@media screen and (max-width: 980px) {
    .album-info, .personnel, .tracks {
        padding: .25em 20px;
    }
    .left, .right {
        display: block;
        float: none;
        width: 20em;
        margin: 0 auto;
        position: relative;
    }
    .left h4, .right h4 {
        font-family: Arial;
        margin-bottom: -10px;
    }
    .personnel h3 {
        margin-top: 0em;
    }
}
@media screen and (max-width: 380px) {
    .left h4, .right h4 {
        font-size: 4.5em;
    }
    .left ul li {
        font-size: 3em;
    }
    .left, .right {
        display: block;
        float: none;
        width: 100%;
        margin: 0;
    }
    .album-info p {
        line-height: 1.5em;
    }
}
